body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.char {
  width: 60px;
  height: 60px;
  background-color: yellow;
  color: black;
  font-size: 40px;
  font-family: 'Courier', monospace;
  line-height: 60px;
  text-align: center;
  display: block;
}
